@media ( min-width:961px){
    .temperatureContainer{
        margin-left:30rem;
        margin-right:10rem;
        margin-top:2rem;
        width:35%
    }
}

@media ( max-width:960px){
    .temperatureContainer{
        margin-left:1.5rem;
        margin-right:1.5rem;
        
    }
}
